.box{
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-image: url(http://res.cloudinary.com/vodochile/image/upload/e_blur:559/v1437658730/1_kaghgf.jpg);
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   background-color: gray;
}
.btn-circle{
   width: 120px;
   height: 120px;
   text-align: center;
   padding: 6px 0;
   font-size: 25px;
   line-height: 1.42;
   border-radius: 200px;
}

#bNh{
    display: block; 
    margin-left: 3vw; 
    margin-right: 3vw; 
    width: 90vw;
}

.twoEle{
    min-height: 480px; 
    margin: 0px auto; 
    max-width: 900px; 
    width: 90vw;
    margin-bottom: 5vw; 
}

#bossImg{
     margin-top: 30px; 
     display: inline-block;
     vertical-align: top;
     max-width:400px; min-width: 250px; width: 45vw
}

@media all and (max-width: 900px){
    #boss{
         max-width: 300px;
    }
    #hospital{
        max-width: 300px;
    }
    #home h1{
        letter-spacing: 2px; 
        font-size: 350%;
    }
    .home h3{
        letter-spacing: 0.5px;
        font-size: 150%;
    }
    #boss img{
         margin-left: 30px;
         position: relative;
         top: -40px;
    }
    #hospital iframe{
         margin-left: 30px;
         position: relative;
         top: -40px;
    }
}

.home{
    height:100vh; 
    min-height: 480px;
    padding-top: 55px;
    font-family: SimHei;
}

.home h1{
    letter-spacing: 15px; 
    color: white; 
    font-size: 600%; 
}

.home h3{
     letter-spacing: 5px;
     color: white;
     border-style: solid;
     border-color: white;
     border-width: thin;
     padding-top: 5px;
     padding-left: 5px;
     padding-right: 5px;
     padding-bottom: 5px;
     margin-left: 15px;
     margin-right: 15px;
}

.main{
   width: 100vw;
   max-width: 1220px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.main block{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}
block article{
    width: 50%;
    margin:0 auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}
block p{
    font-size: large;
    text-align: center;
}
block img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

.loader {
	z-index: 9999;
	background: url('../image/loading-icon.gif') 50% 50% no-repeat ;
}

article{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin: 0.67em 0px;
    box-sizing: border-box;
    text-align: center;
}

#ask button{
     margin-top: 10px;
}
myBtn button{
     width: 250px;
}
